// Breakpoint
$breakpoint1: 767px;

// Common Colors
$color1: #fff;
$color2: #333;
$color3: #000;
$color4: #e0e0e0;
$color5: #0099f7;

// link color
//$link:#000;
//$hover:#000;
//$active:#000;
//$visited:#000;
