@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
nav,
section,
time,
mark,
audio,
video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
}

body,
input,
textarea,
select,
option,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table,
input,
textarea,
select,
option {
  line-height: 1.1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a {
  transition: 0.3s ease-in-out;
}

form label {
  cursor: pointer;
}

th, td {
  padding: 2px 0;
  vertical-align: top;
  text-align: left;
  line-height: 28px;
}
th a, td a {
  color: #333;
}
th a:hover, td a:hover {
  color: #000;
}

th {
  font-weight: 500;
  padding-right: 15px;
}

/*------------------------------------------------------------
	Clearfix
------------------------------------------------------------*/
/*------------------------------------------------------------
	Font
------------------------------------------------------------*/
/*------------------------------------------------------------
	Media
------------------------------------------------------------*/
/*------------------------------------------------------------
	Flex Box
------------------------------------------------------------*/
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.l-container {
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
}
@media screen and (max-width: 1200px) {
  .l-container {
    padding: 0 20px;
  }
}

body {
  display: flex;
  justify-content: space-between;
  background: url(../../assets/images/about/background.png) no-repeat center fixed;
  background-color: rgba(0, 0, 0, 0.2);
  color: #333;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 28px;
  height: 100vh;
  margin: 100px;
  overflow: hidden;
  width: 100vw;
}
@media screen and (max-width: 1600px) {
  body {
    margin: 50px;
  }
}

main {
  border-bottom-right-radius: 10px;
  padding: 30px 30px;
  position: absolute;
  overflow-y: auto;
}
main::-webkit-scrollbar {
  width: 10px;
}
main::-webkit-scrollbar-thumb {
  background-color: #0099f7;
  border-radius: 10px;
}
@media screen and (max-width: 1600px) {
  main {
    right: 50px;
    top: 135px;
  }
}

.bg {
  background-color: #e0e0e0;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25), -10px -10px 10px rgba(255, 255, 255, 0.25);
  height: calc(100vh - 200px);
  width: calc(100vw - 200px);
}
@media screen and (max-width: 1600px) {
  .bg {
    height: calc(100vh - 100px);
    width: calc(100vw - 100px);
  }
}

/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
.header__main {
  border-bottom-left-radius: 10px;
  border-right: solid 1px #fff;
  bottom: 100px;
  left: 100px;
  height: calc(100vh - 285px);
  padding: 30px 30px;
  position: absolute;
  width: 240px;
}
@media screen and (max-width: 1600px) {
  .header__main {
    bottom: 50px;
    left: 50px;
    height: calc(100vh - 185px);
  }
}
.header__main li {
  background-color: #e0e0e0;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  margin-bottom: 30px;
  padding: 8px 10px 7px;
  position: relative;
  transition: all 0.3s ease;
}
.header__main li:hover, .header__main li.active {
  background-color: #0099f7;
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__main li:hover a, .header__main li.active a {
  color: #fff;
}
.header__main li img {
  position: absolute;
  top: 10px;
}
.header__main li a {
  color: #333;
  font-size: 20px;
  padding-left: 30px;
  text-decoration: none;
}
.header__sub {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: solid 1px #fff;
  border-radius: 10px 10px 0 0;
  left: 100px;
  height: 85px;
  padding-left: 270px;
  position: absolute;
  top: 100px;
  width: calc(100vw - 200px);
}
@media screen and (max-width: 1600px) {
  .header__sub {
    left: 50px;
    top: 50px;
    width: calc(100vw - 100px);
  }
}
.header__sub li {
  background-color: #e0e0e0;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  font-size: 20px;
  margin-right: 30px;
  padding: 9px 20px 8px;
  position: relative;
  transition: all 0.3s ease;
}
.header__sub li:hover, .header__sub li.active {
  background-color: #0099f7;
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
}

/*------------------------------------------------------------
	Footer
------------------------------------------------------------*/
.c-footer {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background: #000;
}

/*------------------------------------------------------------
	Side
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
/*------------------------------------------------------------
	Title
------------------------------------------------------------*/
.title01 {
  font-family: "Playball", cursive;
  font-size: 32px;
  color: #000;
  letter-spacing: 1px;
  position: relative;
}
.title01 span {
  position: relative;
  padding-bottom: 5px;
}
.title01 span:before {
  content: "";
  width: 50%;
  height: 2px;
  background-color: #333;
  position: absolute;
  left: 0;
  bottom: 0;
}

.title02 {
  font-weight: 500;
  font-size: 20px;
  color: #000;
  position: relative;
}
@media screen and (max-width: 1440px) {
  .title02 {
    font-size: 16px;
  }
}
.title02 span {
  position: relative;
  padding-bottom: 10px;
}
.title02 span:before {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #333;
  position: absolute;
  left: 0;
  bottom: 0;
}

.title03 {
  color: #000;
  font-family: "Playball", cursive;
  font-size: 32px;
  font-weight: normal;
  letter-spacing: 1px;
  position: relative;
}

/*------------------------------------------------------------
	Text
------------------------------------------------------------*/
/*------------------------------------------------------------
	Form
------------------------------------------------------------*/
/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
/*------------------------------------------------------------
	Table
------------------------------------------------------------*/
/*------------------------------------------------------------
	List
------------------------------------------------------------*/
/*------------------------------------------------------------
	Slider
------------------------------------------------------------*/
/*------------------------------------------------------------
	Other
------------------------------------------------------------*/
@media (max-width: 767px) {
  .pc {
    display: none;
  }
}
@media (min-width: 768px) {
  .sp {
    display: none;
  }
}
@media (max-width: 1200px) {
  .only-pc {
    display: none;
  }
}
@media (min-width: 1200px) {
  .pc-1200 {
    display: none;
  }
}
.html5-prev-inside .mh-icon-left {
  background: url(../images/common/lightbox-button-prev.png);
}

.html5-next-inside .mh-icon-right {
  background: url(../images/common/lightbox-button-next.png);
}

.html5-timer {
  background-color: rgb(0, 153, 247) !important;
  height: 4px !important;
}

.html5boxSeekerBuffer, .html5boxVolumeBarBg {
  background-color: rgb(255, 255, 255) !important;
}

.html5boxSeekerPlay {
  background-color: #000 !important;
}

.html5boxVolumeBarActive {
  background-color: #000 !important;
}

.html5-title-caption {
  font-family: "Playball", cursive;
  font-size: 32px;
  color: #fff;
  text-align: center !important;
  z-index: 3;
  letter-spacing: 1px;
  position: relative;
  text-shadow: 0px 0px 5px #000, 0px 0px 10px #000, 0px 0px 15px #000, 0px 0px 20px #000;
}

.html5-image-container:before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0) 50%);
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.html5-playpause, .html5-title-prefix {
  display: none !important;
}

.html5-elem-data-box {
  padding: 0 !important;
}

.html5-text {
  width: calc(100% - 16px);
  position: absolute;
  bottom: 10px;
  text-align: center !important;
}

#date {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0;
}

.date {
  height: 100vh;
  padding: 0;
  margin: 0 auto;
  width: 100vw;
}
@media screen and (max-width: 1200px) {
  .date {
    left: 50px;
    top: 50px;
  }
}
@media screen and (max-width: 640px) {
  .date {
    bottom: 0;
    left: 0;
    padding: 20px;
    right: 0;
    top: 0;
  }
}
.date__bg {
  background: url(../../assets/images/wedding/bg.jpg) no-repeat top center;
  background-size: auto 100%;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  height: 720px;
  margin: 0 auto;
  position: relative;
  top: calc(50vh - 360px);
  width: 1080px;
}
@media screen and (max-width: 1200px) {
  .date__bg {
    height: calc(100vh - 100px);
    margin: 0;
    top: 0;
    transform: translate(0, 0);
    width: calc(100vw - 100px);
  }
}
@media screen and (max-width: 640px) {
  .date__bg {
    height: calc(100vh - 40px);
    width: calc(100vw - 40px);
  }
}
.date__title {
  left: 25px;
  position: absolute;
  transform: scale(0.6);
  transform-origin: 0 0;
  top: 25px;
}
@media screen and (max-width: 640px) {
  .date__title {
    left: 20px;
    transform: scale(0.5);
    top: 20px;
    z-index: 10;
  }
}
.date__title img {
  width: 100%;
}
.date__card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  bottom: 30px;
  left: 25px;
  position: absolute;
}
@media screen and (max-width: 640px) {
  .date__card {
    bottom: 120px;
    left: 0;
    width: 100%;
  }
}
.date__img01 {
  margin: 15px 0 20px;
  text-align: center;
  width: 450px;
}
.date__img01 img {
  width: 100%;
}
@media screen and (max-width: 640px) {
  .date__img01 {
    margin: 5px 0 10px;
    width: 100%;
  }
  .date__img01 img {
    width: 80%;
  }
}
.date__txt01 {
  color: #fff;
  font-size: 39.5px;
  letter-spacing: 2px;
}
@media screen and (max-width: 640px) {
  .date__txt01 {
    font-size: 24px;
    text-align: center;
  }
}
.date__txt02 {
  color: #fff;
  font-size: 48px;
  text-transform: uppercase;
}
@media screen and (max-width: 640px) {
  .date__txt02 {
    font-size: 28px;
    text-align: center;
  }
}
.date__wallet {
  bottom: 25px;
  position: absolute;
  right: 25px;
  transform: scale(0.5);
  transform-origin: 100% 100%;
}
@media screen and (max-width: 640px) {
  .date__wallet {
    bottom: 20px;
    right: 0;
    text-align: center;
    transform: scale(1);
    width: 100%;
  }
  .date__wallet img {
    width: 25%;
  }
}