@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
nav,
section,
time,
mark,
audio,
video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
}

body,
input,
textarea,
select,
option,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table,
input,
textarea,
select,
option {
  line-height: 1.1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a {
  transition: 0.3s ease-in-out;
}

form label {
  cursor: pointer;
}

th, td {
  padding: 2px 0;
  vertical-align: top;
  text-align: left;
  line-height: 28px;
}
th a, td a {
  color: #333;
}
th a:hover, td a:hover {
  color: #000;
}

th {
  font-weight: 500;
  padding-right: 15px;
}

/*------------------------------------------------------------
	Clearfix
------------------------------------------------------------*/
/*------------------------------------------------------------
	Font
------------------------------------------------------------*/
/*------------------------------------------------------------
	Media
------------------------------------------------------------*/
/*------------------------------------------------------------
	Flex Box
------------------------------------------------------------*/
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.l-container {
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
}
@media screen and (max-width: 1200px) {
  .l-container {
    padding: 0 20px;
  }
}

body {
  display: flex;
  justify-content: space-between;
  background: url(../../assets/images/about/background.png) no-repeat center fixed;
  background-color: rgba(0, 0, 0, 0.2);
  color: #333;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 28px;
  height: 100vh;
  margin: 100px;
  overflow: hidden;
  width: 100vw;
}
@media screen and (max-width: 1600px) {
  body {
    margin: 50px;
  }
}

main {
  border-bottom-right-radius: 10px;
  height: calc(100vh - 345px);
  padding: 30px 30px;
  position: absolute;
  overflow-y: auto;
  right: 100px;
  top: 185px;
  width: calc(100vw - 500px);
}
main::-webkit-scrollbar {
  width: 10px;
}
main::-webkit-scrollbar-thumb {
  background-color: #0099f7;
  border-radius: 10px;
}
@media screen and (max-width: 1600px) {
  main {
    height: calc(100vh - 245px);
    right: 50px;
    top: 135px;
    width: calc(100vw - 400px);
  }
}

.bg {
  background-color: #e0e0e0;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25), -10px -10px 10px rgba(255, 255, 255, 0.25);
  height: calc(100vh - 200px);
  width: calc(100vw - 200px);
}
@media screen and (max-width: 1600px) {
  .bg {
    height: calc(100vh - 100px);
    width: calc(100vw - 100px);
  }
}

/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
.header__main {
  border-bottom-left-radius: 10px;
  border-right: solid 1px #fff;
  bottom: 100px;
  left: 100px;
  height: calc(100vh - 285px);
  padding: 30px 30px;
  position: absolute;
  width: 240px;
}
@media screen and (max-width: 1600px) {
  .header__main {
    bottom: 50px;
    left: 50px;
    height: calc(100vh - 185px);
  }
}
.header__main li {
  background-color: #e0e0e0;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  margin-bottom: 30px;
  padding: 8px 10px 7px;
  position: relative;
  transition: all 0.3s ease;
}
.header__main li:hover, .header__main li.active {
  background-color: #0099f7;
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__main li:hover a, .header__main li.active a {
  color: #fff;
}
.header__main li img {
  position: absolute;
  top: 10px;
}
.header__main li a {
  color: #333;
  font-size: 20px;
  padding-left: 30px;
  text-decoration: none;
}
.header__sub {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: solid 1px #fff;
  border-radius: 10px 10px 0 0;
  left: 100px;
  height: 85px;
  padding-left: 270px;
  position: absolute;
  top: 100px;
  width: calc(100vw - 200px);
}
@media screen and (max-width: 1600px) {
  .header__sub {
    left: 50px;
    top: 50px;
    width: calc(100vw - 100px);
  }
}
.header__sub li {
  background-color: #e0e0e0;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  font-size: 20px;
  margin-right: 30px;
  padding: 9px 20px 8px;
  position: relative;
  transition: all 0.3s ease;
}
.header__sub li:hover, .header__sub li.active {
  background-color: #0099f7;
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
}

/*------------------------------------------------------------
	Footer
------------------------------------------------------------*/
.c-footer {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background: #000;
}

/*------------------------------------------------------------
	Side
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
/*------------------------------------------------------------
	Title
------------------------------------------------------------*/
.title01 {
  font-family: "Playball", cursive;
  font-size: 32px;
  color: #000;
  letter-spacing: 1px;
  position: relative;
}
.title01 span {
  position: relative;
  padding-bottom: 5px;
}
.title01 span:before {
  content: "";
  width: 50%;
  height: 2px;
  background-color: #333;
  position: absolute;
  left: 0;
  bottom: 0;
}

.title02 {
  font-weight: 500;
  font-size: 20px;
  color: #000;
  position: relative;
}
@media screen and (max-width: 1440px) {
  .title02 {
    font-size: 16px;
  }
}
.title02 span {
  position: relative;
  padding-bottom: 10px;
}
.title02 span:before {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #333;
  position: absolute;
  left: 0;
  bottom: 0;
}

.title03 {
  color: #000;
  font-family: "Playball", cursive;
  font-size: 32px;
  font-weight: normal;
  letter-spacing: 1px;
  position: relative;
}

/*------------------------------------------------------------
	Text
------------------------------------------------------------*/
/*------------------------------------------------------------
	Form
------------------------------------------------------------*/
/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
/*------------------------------------------------------------
	Table
------------------------------------------------------------*/
/*------------------------------------------------------------
	List
------------------------------------------------------------*/
/*------------------------------------------------------------
	Slider
------------------------------------------------------------*/
/*------------------------------------------------------------
	Other
------------------------------------------------------------*/
@media (max-width: 767px) {
  .pc {
    display: none;
  }
}
@media (min-width: 768px) {
  .sp {
    display: none;
  }
}
@media (max-width: 1200px) {
  .only-pc {
    display: none;
  }
}
@media (min-width: 1200px) {
  .pc-1200 {
    display: none;
  }
}
.html5-prev-inside .mh-icon-left {
  background: url(../images/common/lightbox-button-prev.png);
}

.html5-next-inside .mh-icon-right {
  background: url(../images/common/lightbox-button-next.png);
}

.html5-timer {
  background-color: rgb(0, 153, 247) !important;
  height: 4px !important;
}

.html5boxSeekerBuffer, .html5boxVolumeBarBg {
  background-color: rgb(255, 255, 255) !important;
}

.html5boxSeekerPlay {
  background-color: #000 !important;
}

.html5boxVolumeBarActive {
  background-color: #000 !important;
}

.html5-title-caption {
  font-family: "Playball", cursive;
  font-size: 32px;
  color: #fff;
  text-align: center !important;
  z-index: 3;
  letter-spacing: 1px;
  position: relative;
  text-shadow: 0px 0px 5px #000, 0px 0px 10px #000, 0px 0px 15px #000, 0px 0px 20px #000;
}

.html5-image-container:before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0) 50%);
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.html5-playpause, .html5-title-prefix {
  display: none !important;
}

.html5-elem-data-box {
  padding: 0 !important;
}

.html5-text {
  width: calc(100% - 16px);
  position: absolute;
  bottom: 10px;
  text-align: center !important;
}

.intro {
  display: flex;
  justify-content: space-between;
}
.intro__img {
  background-color: #000;
  margin-right: 50px;
  width: 330px;
}
.intro__cont {
  width: 820px;
}
.intro__txt {
  text-align: justify;
  padding: 50px;
  position: relative;
}
.intro__txt:before {
  content: "";
  width: 50px;
  height: 50px;
  background: url(../../assets/images/about/border01.png) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.intro__txt:after {
  content: "";
  width: 50px;
  height: 50px;
  background: url(../../assets/images/about/border01.png) no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: scale(-1);
}
.intro__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 820px;
}
.intro__box {
  background-color: #fff;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.3);
}
.intro__box--profile {
  width: 425px;
}
.intro__box--edu {
  width: 345px;
}
.intro__title {
  background-color: #000;
  color: #fff;
  padding: 17px 0 13px 75px;
}
.intro__table, .intro__school {
  padding: 20px 30px 15px;
}
.intro__profile:before {
  background: url(../../assets/images/about/icon-profile.png) no-repeat;
  content: "";
  height: 30px;
  left: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
}
.intro__edu:before {
  background: url(../../assets/images/about/icon-edu.png) no-repeat;
  content: "";
  height: 30px;
  left: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
}
.intro__name {
  font-weight: 500;
}
.intro__major {
  padding: 0 0 0 25px;
}
.intro__rank {
  padding: 0 0 0 25px;
}
.intro__rank span {
  font-weight: 500;
}

.exp {
  margin-top: 120px;
}
.exp__title {
  padding-top: 40px;
  position: relative;
  text-align: center;
}
.exp__title:before {
  background: url(../../assets/images/about/icon-exp.png) no-repeat;
  content: "";
  height: 30px;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 25px;
}
.exp__cont {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.exp__box {
  background-color: #fff;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.3);
  padding: 25px 30px 20px;
  width: calc(33.3333333333% - 20px);
}
.exp__name {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 3px;
}
.exp__pos {
  margin-bottom: 3px;
}
.exp__pos span {
  color: #000;
  font-weight: 500;
}
.exp__des {
  padding-left: 30px;
}
.exp__des span {
  position: relative;
}
.exp__des span:before {
  background: url(../../assets/images/about/icon-des.png) no-repeat;
  content: "";
  height: 2px;
  left: -30px;
  position: absolute;
  top: 10px;
  width: 15px;
}

.skill {
  margin-top: 120px;
}
.skill__title {
  padding-top: 40px;
  position: relative;
  text-align: center;
}
.skill__title:before {
  background: url(../../assets/images/about/icon-exp.png) no-repeat;
  content: "";
  height: 30px;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 25px;
}
.skill__cont {
  display: flex;
  justify-content: space-between;
  margin: 50px 100px 0;
}
.skill__img {
  background-color: #fff;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.3);
  padding: 10px;
}

.other {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}
.other__box {
  background-color: #fff;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.3);
  width: calc(50% - 25px);
}
.other__title {
  background-color: #000;
  color: #fff;
  padding: 17px 0 13px 75px;
}
.other__char:before {
  background: url(../../assets/images/about/icon-char.png) no-repeat;
  content: "";
  height: 30px;
  left: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
}
.other__passion:before {
  background: url(../../assets/images/about/icon-passion.png) no-repeat;
  content: "";
  height: 30px;
  left: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
}
.other__cont1 {
  padding: 20px 30px 15px;
}
.other__cont1 span {
  font-weight: 500;
}
.other__cont2 {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 20px 30px;
}

.poster {
  margin: 100px 0;
}
.poster__inner {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  padding: 100px;
}
.poster__inner--list {
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
}
.poster__inner--list .all {
  padding: 10px 20px;
  border: 2px solid #56CCF2;
  margin: 0 5px;
}
.poster__inner--list .all:hover, .poster__inner--list .all.active {
  color: #56CCF2;
  background-color: #fff;
  filter: drop-shadow(0 0 1px #56CCF2) drop-shadow(0 0 3px #56CCF2);
}
.poster__inner--list .cate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.poster__inner--list .cate div {
  padding: 10px 20px;
  border: 2px solid #56CCF2;
  margin: 0 5px;
}
.poster__inner--list .cate div:hover, .poster__inner--list .cate div.active {
  color: #56CCF2;
  background-color: #fff;
  filter: drop-shadow(0 0 1px #56CCF2) drop-shadow(0 0 3px #56CCF2);
}
.poster__inner--protect {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.22);
  box-shadow: 5px 5px 5px rgba(86, 204, 242, 0.5) inset, -5px -5px 5px rgba(86, 204, 242, 0.5) inset;
  padding: 50px;
}
.poster__inner--protect .gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15px;
}
.poster__inner--protect .gallery li {
  width: 22%;
  margin-top: 40px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.poster__inner--protect .gallery li img {
  width: 100%;
}
.poster__inner--softbank {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 5px 5px rgba(86, 204, 242, 0.5) inset, -5px -5px 5px rgba(86, 204, 242, 0.5) inset;
  padding: 50px;
}
.poster__inner--softbank .gallery {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}
.poster__inner--softbank .gallery li {
  width: 47%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.poster__inner--softbank .gallery li img {
  width: 100%;
}
.poster__inner--food {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 5px 5px rgba(86, 204, 242, 0.5) inset, -5px -5px 5px rgba(86, 204, 242, 0.5) inset;
  padding: 50px;
}
.poster__inner--food .gallery {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}
.poster__inner--food .gallery__poster {
  width: 38%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.poster__inner--food .gallery__poster img {
  width: 100%;
}
.poster__inner--food .gallery__banner {
  width: 57%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.poster__inner--food .gallery__banner div {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.poster__inner--food .gallery__banner div img {
  width: 100%;
}
.poster__inner--bbskin {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 5px 5px rgba(86, 204, 242, 0.5) inset, -5px -5px 5px rgba(86, 204, 242, 0.5) inset;
  padding: 50px;
}
.poster__inner--bbskin .gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15px;
}
.poster__inner--bbskin .gallery li {
  width: 30%;
  margin-top: 40px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.poster__inner--bbskin .gallery li:hover {
  border: none;
}
.poster__inner--bbskin .gallery li img {
  width: 100%;
}

.webdesign__menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: solid 1px #fff;
  border-radius: 10px 10px 0 0;
  left: 0;
  height: 50px;
  padding: 0 30px;
  position: absolute;
  top: 0;
  width: calc(100vw - 440px);
}
@media screen and (max-width: 1600px) {
  .webdesign__menu {
    width: calc(100vw - 340px);
  }
}
.webdesign__menu li {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  margin-right: 30px;
  padding: 12px 0 10px;
  position: relative;
  text-transform: uppercase;
}
.webdesign__menu li:hover, .webdesign__menu li.active {
  color: #0099f7;
}
.webdesign__item {
  display: flex;
  justify-content: space-between;
}
.webdesign__item--type1 {
  left: 0;
  height: calc(100vh - 335px);
  padding: 30px;
  position: absolute;
  top: 50px;
  width: calc(100vw - 440px);
}
@media screen and (max-width: 1600px) {
  .webdesign__item--type1 {
    height: calc(100vh - 235px);
    width: calc(100vw - 340px);
  }
}
.webdesign__item--type2 {
  height: calc(100vh - 345px);
  width: calc(100vw - 440px);
}
@media screen and (max-width: 1600px) {
  .webdesign__item--type2 {
    height: calc(100vh - 245px);
    width: calc(100vw - 340px);
  }
}
.webdesign__box {
  background-color: #e0e0e0;
  border-radius: 10px;
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25), inset -4px -4px 4px rgba(255, 255, 255, 0.75);
  padding: 15px;
}
.webdesign__box--type2 {
  width: calc(33.3333333333% - 20px);
}
.webdesign__pc {
  width: calc(75% - 15px);
}
.webdesign__sp {
  width: calc(25% - 15px);
}
.webdesign__cont {
  border-radius: 10px;
  overflow-y: auto;
}
.webdesign__cont::-webkit-scrollbar {
  width: 0;
}
.webdesign__cont--type1 {
  height: calc(100vh - 425px);
}
.webdesign__cont--type2 {
  height: calc(100vh - 375px);
}
@media screen and (max-width: 1600px) {
  .webdesign__cont--type2 {
    height: calc(100vh - 275px);
  }
}
.webdesign__cont img {
  width: 100%;
}

.model__menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 10px 10px 0 0;
  left: 0;
  height: 100%;
  padding: 30px;
  position: absolute;
  top: 0;
  width: 200px;
}
.model__menu li {
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(255, 255, 255, 0.75);
  cursor: pointer;
  height: calc(25% - 22.5px);
  padding: 10px;
  width: 100%;
}
.model__menu li:hover, .model__menu li.active {
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25), inset -4px -4px 4px rgba(255, 255, 255, 0.75);
}
.model__menu li img {
  width: 100%;
}
.model__item--type1 {
  right: 0;
  height: calc(100vh - 285px);
  padding: 30px;
  position: absolute;
  top: 0;
  width: calc(100vw - 610px);
}
@media screen and (max-width: 1600px) {
  .model__item--type1 {
    height: calc(100vh - 235px);
    width: calc(100vw - 340px);
  }
}
.model__box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #e0e0e0;
  border-radius: 10px;
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25), inset -4px -4px 4px rgba(255, 255, 255, 0.75);
  padding: 15px;
  text-align: center;
  width: calc(100vw - 610px);
}
.model__cont {
  border-radius: 10px;
  overflow-y: auto;
}
.model__cont::-webkit-scrollbar {
  width: 0;
}
.model__cont--type1 img {
  width: 90%;
}

.video__item {
  left: 50%;
  height: calc(100vh - 285px);
  padding: 30px;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
}
.video__box {
  background-color: #e0e0e0;
  border-radius: 10px;
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25), inset -4px -4px 4px rgba(255, 255, 255, 0.75);
  padding: 15px;
  text-align: center;
}
.video__cont {
  border-radius: 10px;
  height: calc(100vh - 375px);
  overflow-y: auto;
}
@media screen and (max-width: 1600px) {
  .video__cont {
    height: calc(100vh - 275px);
  }
}
.video__cont::-webkit-scrollbar {
  width: 0;
}
.video__cont video {
  border-radius: 10px;
  height: 100%;
}

.lol-bg {
  position: relative;
}
.lol-bg:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.lol {
  margin-top: 95px;
  display: flex;
  justify-content: space-between;
}
.lol .lol-menu {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}
.lol .lol-menu li {
  min-width: 165px;
  padding: 10px 0 10px 40px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.lol .lol-menu li a {
  position: relative;
  color: #fff;
  text-decoration: none;
}
.lol .lol-menu li:hover a, .lol .lol-menu li.active a {
  text-shadow: 0px 0px 5px #000, 0px 0px 10px #000, 0px 0px 15px #000, 0px 0px 20px #000, 0px 0px 25px #000;
}
.lol .lol-menu li.active a:before {
  content: "➢";
  font-size: 28px;
  position: absolute;
  top: -8px;
  left: -40px;
}
.lol .lol-menu li.active a:after {
  content: "➣";
  font-size: 28px;
  position: absolute;
  top: -8px;
  right: -40px;
  transform: scaleX(-1);
}
.lol .lol-inner {
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
}
.lol .lol-inner__about .intro {
  line-height: 1.75;
  position: relative;
  padding: 25px;
}
.lol .lol-inner__about .intro:before {
  content: "";
  width: 50px;
  height: 50px;
  background: url(../../assets/images/common/border01.png) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.lol .lol-inner__about .intro:after {
  content: "";
  width: 50px;
  height: 50px;
  background: url(../../assets/images/common/border01.png) no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: scale(-1);
}
.lol .lol-inner__about .intro p {
  color: #fff;
  padding: 25px 0;
  position: relative;
}
.lol .lol-inner__about .intro p span {
  font-family: "Playball", cursive;
  font-size: 32px;
  letter-spacing: 1px;
  color: #000;
}
.lol .lol-inner__about .intro p:before {
  content: "";
  width: 25%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 0;
  right: -25px;
}
.lol .lol-inner__about .intro p:after {
  content: "";
  width: 25%;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: -25px;
}
.lol .lol-inner__about .video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  position: relative;
}
.lol .lol-inner__about .video video {
  width: 50%;
  margin: 0 50px;
}
.lol .lol-inner__cine {
  position: relative;
}
.lol .lol-inner__cine .list {
  display: flex;
  justify-content: space-between;
}
.lol .lol-inner__cine .list--item {
  width: 13%;
  position: relative;
  text-align: justify;
  text-align-last: center;
  font-weight: 500;
  background-color: #fff;
  padding: 10px 8px 8px 10px;
  box-shadow: inset 3px 3px 3px rgba(51, 51, 51, 0.3);
  cursor: pointer;
}
.lol .lol-inner__cine .list--item:hover, .lol .lol-inner__cine .list--item.active {
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.lol .lol-inner__cine .list--item:hover p, .lol .lol-inner__cine .list--item.active p {
  opacity: 1;
}
.lol .lol-inner__cine .list--item img {
  width: 100%;
}
.lol .lol-inner__cine .list--item p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
  text-align: justify;
  text-align-last: center;
  padding-bottom: 2px;
  font-family: "Playball", cursive;
  font-size: 20px;
  letter-spacing: 1px;
  position: absolute;
  top: 10px;
  right: 8px;
  bottom: 8px;
  left: 10px;
  opacity: 0;
  color: #fff;
  background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0) 50%);
  transition: all 0.2s ease;
}
.lol .lol-inner__cine .video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.lol .lol-inner__cine .video video {
  width: 50%;
}
.lol .lol-inner__reg {
  margin-bottom: 80px;
}
.lol .lol-inner__reg .reg-title {
  text-align: justify;
  text-align-last: center;
  font-family: "Playball", cursive;
  font-size: 48px;
  color: #fff;
  text-shadow: 0px 0px 5px #000, 0px 0px 10px #000, 0px 0px 15px #000, 0px 0px 20px #000, 0px 0px 25px #000;
  margin-bottom: 50px;
  position: relative;
}
.lol .lol-inner__reg .reg-title:before {
  content: "➢";
  font-size: 48px;
  position: absolute;
  top: -4px;
  left: 325px;
}
.lol .lol-inner__reg .reg-title:after {
  content: "➣";
  font-size: 48px;
  position: absolute;
  top: -4px;
  right: 325px;
  transform: scaleX(-1);
}
.lol .lol-inner__reg .reg-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-wrap: wrap;
  align-content: space-between;
  position: relative;
  width: calc(100% + 20px);
  margin: 0 -10px 0;
  z-index: 3;
}
.lol .lol-inner__reg .reg-list .reg-item {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: calc(25% - 20px);
  margin: 0 10px 20px;
  position: relative;
  text-align: justify;
  text-align-last: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.lol .lol-inner__reg .reg-list .reg-item a {
  display: flex;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 7px;
}
.lol .lol-inner__reg .reg-list .reg-item a video {
  position: relative;
  width: 100%;
  border: 1px solid #fff;
  z-index: 1;
}
.lol .lol-inner__reg .reg-list .reg-item a img {
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  height: 60px;
  transition: all 0.3s ease;
  z-index: 3;
  position: absolute;
  margin-bottom: 10px;
}
.lol .lol-inner__reg .reg-list .reg-item a .reg-text {
  width: calc(100% - 14px);
  bottom: 15px;
  font-family: "Playball", cursive;
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
  position: absolute;
  text-align: justify;
  text-align-last: center;
  transition: all 0.3s ease;
  z-index: 3;
}
.lol .lol-inner__reg .reg-list .reg-item a:before {
  content: "";
  width: calc(100% - 18px);
  height: calc(100% - 18px);
  background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0) 50%);
  background-size: contain;
  position: absolute;
  top: 9px;
  left: 9px;
  z-index: 3;
}
.lol .lol-inner__reg .reg-list .reg-item:hover {
  box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.7), 0px -3px 5px rgba(255, 255, 255, 0.7), 3px 0px 5px rgba(255, 255, 255, 0.7), -3px 0px 5px rgba(255, 255, 255, 0.7);
}
.lol .lol-inner__reg .reg-list .reg-item:hover .reg-text {
  text-shadow: 0px 0px 5px #000, 0px 0px 10px #000, 0px 0px 15px #000, 0px 0px 20px #000, 0px 0px 25px #000;
}
.lol .lol-inner__reg .reg-list .reg-item:hover img {
  -webkit-filter: drop-shadow(0px 0px 3px #000) drop-shadow(0px 0px 7px #000);
  filter: drop-shadow(0px 0px 3 px #000) drop-shadow(0px 0px 7px #000);
}
.lol .lol-inner__reg-detail .symbol {
  max-width: 150px;
  margin: 0 auto;
}
.lol .lol-inner__reg-detail .symbol img {
  width: 100%;
  -webkit-filter: drop-shadow(0px 0px 3px #fff) drop-shadow(0px 0px 3px #000);
  filter: drop-shadow(0px 0px 3px #fff) drop-shadow(0px 0px 3px #000);
}
.lol .lol-inner__reg-detail .intro__name {
  margin-bottom: 10px;
  font-family: "Playball", cursive;
  font-size: 48px;
  letter-spacing: 1px;
  text-align: justify;
  text-align-last: center;
  text-shadow: 0px 0px 5px #000, 0px 0px 10px #000, 0px 0px 15px #000, 0px 0px 20px #000, 0px 0px 25px #000;
  color: #fff;
}
.lol .lol-inner__reg-detail .intro__about {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 25px 0 65px;
  margin: 0 auto;
  position: relative;
  max-width: 960px;
  width: 80%;
}
.lol .lol-inner__reg-detail .intro__about .voice {
  width: 100%;
  font-family: "Playball", cursive;
  font-size: 28px;
  color: #000;
  margin-bottom: 10px;
}
.lol .lol-inner__reg-detail .intro__about .bio {
  line-height: 1.75;
  text-align: justify;
  color: #fff;
}
.lol .lol-inner__reg-detail .reg-vision {
  margin-bottom: 50px;
  position: relative;
}
.lol .lol-inner__reg-detail .reg-vision__title {
  width: 100%;
  font-family: "Playball", cursive;
  font-size: 36px;
  color: #fff;
  margin-bottom: 30px;
  text-shadow: 0px 0px 5px #000, 0px 0px 10px #000, 0px 0px 15px #000, 0px 0px 20px #000, 0px 0px 25px #000;
}
.lol .lol-inner__reg-detail .reg-vision__slideshow {
  display: flex;
  justify-content: space-between;
}
.lol .lol-inner__reg-detail .reg-vision__prev, .lol .lol-inner__reg-detail .reg-vision__next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  max-height: 540px;
  font-size: 70px;
  user-select: none;
}
.lol .lol-inner__reg-detail .reg-vision__prev span, .lol .lol-inner__reg-detail .reg-vision__next span {
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.lol .lol-inner__reg-detail .reg-vision__prev span:hover, .lol .lol-inner__reg-detail .reg-vision__next span:hover {
  text-shadow: 0px 0px 5px #000, 0px 0px 10px #000, 0px 0px 15px #000, 0px 0px 20px #000, 0px 0px 25px #000;
}
.lol .lol-inner__reg-detail .reg-vision__prev {
  transform: scale(-1);
}
.lol .lol-inner__reg-detail .reg-vision__item--inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  max-width: 960px;
}
.lol .lol-inner__reg-detail .reg-vision__item--img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 558px;
  position: relative;
  padding: 20px;
}
.lol .lol-inner__reg-detail .reg-vision__item--img:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 1px solid rgba(255, 255, 255, 0.75);
  z-index: 3;
}
.lol .lol-inner__reg-detail .reg-vision__item--img img {
  max-width: 920px;
  max-height: 518px;
}
.lol .lol-inner__reg-detail .reg-vision__item--text {
  color: #fff;
  text-align: justify;
  text-align-last: center;
}
.lol .lol-inner__reg-detail .reg-vision__item--text p {
  font-family: "Playball", cursive;
  font-size: 32px;
  color: #000;
  margin: 70px 0 10px;
}
.lol .lol-inner__reg-detail .reg-vision__item--text span {
  line-height: 1.75;
}
.lol .lol-inner__reg-detail .reg-vision__pagi {
  position: absolute;
  top: 666px;
  width: 100%;
  text-align: justify;
  text-align-last: center;
}
.lol .lol-inner__reg-detail .reg-vision__pagi--dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.3s ease;
}
.lol .lol-inner__reg-detail .reg-vision__pagi--dot:hover, .lol .lol-inner__reg-detail .reg-vision__pagi--dot.active {
  box-shadow: 0px 0px 5px #000, 0px 0px 10px #000, 0px 0px 15px #000, 0px 0px 20px #000;
}
.lol .lol-inner__reg-detail .reg-champ {
  margin-bottom: 45px;
  position: relative;
}
.lol .lol-inner__reg-detail .reg-champ__title {
  width: 100%;
  font-family: "Playball", cursive;
  font-size: 36px;
  color: #fff;
  margin-bottom: 30px;
  text-shadow: 0px 0px 5px #000, 0px 0px 10px #000, 0px 0px 15px #000, 0px 0px 20px #000, 0px 0px 25px #000;
}
.lol .lol-inner__reg-detail .reg-champ__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: calc(100% + 20px);
  margin: 0 -10px;
}
.lol .lol-inner__reg-detail .reg-champ__item {
  margin: 0 10px 20px;
  width: calc(20% - 20px);
  cursor: pointer;
}
.lol .lol-inner__reg-detail .reg-champ__item--inner {
  position: relative;
  padding: 7px;
  transition: all 0.3s ease;
}
.lol .lol-inner__reg-detail .reg-champ__item--inner:before {
  content: "";
  width: calc(100% - 18px);
  height: calc(100% - 18px);
  background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0) 50%);
  background-size: contain;
  position: absolute;
  top: 9px;
  left: 9px;
  z-index: 1;
}
.lol .lol-inner__reg-detail .reg-champ__item--inner img {
  width: 100%;
  border: 1px solid #fff;
}
.lol .lol-inner__reg-detail .reg-champ__item--inner .champ-text {
  font-family: "Playball", cursive;
  font-size: 20px;
  letter-spacing: 1px;
  width: calc(100% - 14px);
  text-align: justify;
  text-align-last: center;
  text-transform: capitalize;
  position: absolute;
  bottom: 10px;
  color: #fff;
  line-height: 24px;
  transition: all 0.3s ease;
  z-index: 3;
}
.lol .lol-inner__reg-detail .reg-champ__item--inner:hover, .lol .lol-inner__reg-detail .reg-champ__item--inner.active {
  box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.7), 0px -3px 5px rgba(255, 255, 255, 0.7), 3px 0px 5px rgba(255, 255, 255, 0.7), -3px 0px 5px rgba(255, 255, 255, 0.7);
}
.lol .lol-inner__reg-detail .reg-champ__item--inner:hover .champ-text, .lol .lol-inner__reg-detail .reg-champ__item--inner.active .champ-text {
  text-shadow: 0px 0px 5px #000, 0px 0px 10px #000, 0px 0px 15px #000, 0px 0px 20px #000, 0px 0px 25px #000;
}
.lol .lol-inner__reg-detail .reg-other {
  margin-bottom: 100px;
  position: relative;
}
.lol .lol-inner__reg-detail .reg-other__title {
  width: 100%;
  font-family: "Playball", cursive;
  font-size: 36px;
  color: #fff;
  margin-bottom: 30px;
  text-shadow: 0px 0px 5px #000, 0px 0px 10px #000, 0px 0px 15px #000, 0px 0px 20px #000, 0px 0px 25px #000;
}
.lol .lol-inner__reg-detail .reg-other__list {
  display: flex;
  justify-content: space-between;
  width: calc(100% + 20px);
  margin: 0 -10px;
}
.lol .lol-inner__reg-detail .reg-other__item {
  margin: 0 10px;
  width: calc(20% - 20px);
  cursor: pointer;
  position: relative;
  padding: 7px;
  transition: all 0.3s ease;
}
.lol .lol-inner__reg-detail .reg-other__item img {
  width: 100%;
  border: 1px solid #fff;
}
.lol .lol-inner__reg-detail .reg-other__item:hover, .lol .lol-inner__reg-detail .reg-other__item.active {
  box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.7), 0px -3px 5px rgba(255, 255, 255, 0.7), 3px 0px 5px rgba(255, 255, 255, 0.7), -3px 0px 5px rgba(255, 255, 255, 0.7);
}
.lol .lol-inner__champ {
  margin-bottom: 80px;
}
.lol .lol-inner__champ .champ-title {
  text-align: justify;
  text-align-last: center;
  font-family: "Playball", cursive;
  font-size: 48px;
  color: #fff;
  text-shadow: 0px 0px 5px #000, 0px 0px 10px #000, 0px 0px 15px #000, 0px 0px 20px #000, 0px 0px 25px #000;
  margin-bottom: 50px;
  position: relative;
}
.lol .lol-inner__champ .champ-title:before {
  content: "➢";
  font-size: 48px;
  position: absolute;
  top: -4px;
  left: 300px;
}
.lol .lol-inner__champ .champ-title:after {
  content: "➣";
  font-size: 48px;
  position: absolute;
  top: -4px;
  right: 300px;
  transform: scaleX(-1);
}
.lol .lol-inner__champ .champ-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: calc(100% + 20px);
  margin: 0 -10px;
}
.lol .lol-inner__champ .champ-list .champ-item {
  margin: 0 10px 20px;
  width: calc(20% - 20px);
  cursor: pointer;
}
.lol .lol-inner__champ .champ-list .champ-item__inner {
  position: relative;
  padding: 7px;
  transition: all 0.3s ease;
}
.lol .lol-inner__champ .champ-list .champ-item__inner:before {
  content: "";
  width: calc(100% - 18px);
  height: calc(100% - 18px);
  background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0) 50%);
  background-size: contain;
  position: absolute;
  top: 9px;
  left: 9px;
  z-index: 1;
}
.lol .lol-inner__champ .champ-list .champ-item__inner img {
  width: 100%;
  border: 1px solid #fff;
}
.lol .lol-inner__champ .champ-list .champ-item__inner .champ-text {
  font-family: "Playball", cursive;
  font-size: 20px;
  letter-spacing: 1px;
  width: calc(100% - 14px);
  text-align: justify;
  text-align-last: center;
  text-transform: capitalize;
  position: absolute;
  bottom: 10px;
  color: #fff;
  line-height: 24px;
  transition: all 0.3s ease;
  z-index: 3;
}
.lol .lol-inner__champ .champ-list .champ-item__inner:hover, .lol .lol-inner__champ .champ-list .champ-item__inner.active {
  box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.7), 0px -3px 5px rgba(255, 255, 255, 0.7), 3px 0px 5px rgba(255, 255, 255, 0.7), -3px 0px 5px rgba(255, 255, 255, 0.7);
}
.lol .lol-inner__champ .champ-list .champ-item__inner:hover .champ-text, .lol .lol-inner__champ .champ-list .champ-item__inner.active .champ-text {
  text-shadow: 0px 0px 5px #000, 0px 0px 10px #000, 0px 0px 15px #000, 0px 0px 20px #000, 0px 0px 25px #000;
}
.lol .lol-inner__champ-detail {
  position: relative;
  color: #fff;
}
.lol .lol-inner__champ-detail .intro {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.lol .lol-inner__champ-detail .intro__name {
  margin-bottom: 10px;
}
.lol .lol-inner__champ-detail .intro__name--main {
  font-family: "Playball", cursive;
  font-size: 48px;
  letter-spacing: 1px;
  text-align: justify;
  text-align-last: center;
  text-shadow: 0px 0px 5px #000, 0px 0px 10px #000, 0px 0px 15px #000, 0px 0px 20px #000, 0px 0px 25px #000;
}
.lol .lol-inner__champ-detail .intro__name--sub {
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
  font-size: 28px;
  text-align: justify;
  text-align-last: center;
}
.lol .lol-inner__champ-detail .intro__about {
  display: flex;
  justify-content: space-between;
  padding: 45px 100px 70px;
  position: relative;
}
.lol .lol-inner__champ-detail .intro__about .role {
  margin-right: 50px;
}
.lol .lol-inner__champ-detail .intro__about .role img {
  height: 100px;
  padding-top: 10px;
}
.lol .lol-inner__champ-detail .intro__about .role p {
  text-align: justify;
  text-align-last: center;
  text-transform: uppercase;
  margin-top: 20px;
  color: #000;
  font-weight: 500;
}
.lol .lol-inner__champ-detail .intro__about .bio .bio-voice {
  font-family: "Playball", cursive;
  font-size: 28px;
  color: #000;
}
.lol .lol-inner__champ-detail .intro__about .bio .bio-text {
  line-height: 1.75;
  margin-top: 10px;
  text-align: justify;
}
.lol .lol-inner__champ-detail .screenshot {
  text-align: justify;
  text-align-last: center;
  margin-bottom: 70px;
}
.lol .lol-inner__champ-detail .ability {
  position: relative;
  min-height: 365px;
}
.lol .lol-inner__champ-detail .ability .ability-title {
  font-family: "Playball", cursive;
  font-size: 36px;
  margin-bottom: 30px;
  text-shadow: 0px 0px 5px #000, 0px 0px 10px #000, 0px 0px 15px #000, 0px 0px 20px #000, 0px 0px 25px #000;
}
.lol .lol-inner__champ-detail .ability .ability-list {
  display: flex;
  justify-content: flex-start;
  max-width: 1005px;
  width: 65%;
  position: relative;
}
.lol .lol-inner__champ-detail .ability .ability-list__item {
  width: 80px;
  height: 80px;
  margin: 0 25px 0 0;
  padding: 7px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.lol .lol-inner__champ-detail .ability .ability-list__item img {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
}
.lol .lol-inner__champ-detail .ability .ability-list__item:hover, .lol .lol-inner__champ-detail .ability .ability-list__item.active {
  box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.7), 0px -3px 5px rgba(255, 255, 255, 0.7), 3px 0px 5px rgba(255, 255, 255, 0.7), -3px 0px 5px rgba(255, 255, 255, 0.7);
}
.lol .lol-inner__champ-detail .ability .ability-text {
  margin-top: 25px;
  max-width: 1005px;
  width: 65%;
  padding-right: 25px;
}
.lol .lol-inner__champ-detail .ability .ability-text__item p {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
}
.lol .lol-inner__champ-detail .ability .ability-text__item span {
  line-height: 1.75;
  text-align: justify;
}
.lol .lol-inner__champ-detail .ability .ability-video {
  position: absolute;
  top: 80px;
  right: 0;
  width: 35%;
  max-width: 500px;
}
.lol .lol-inner__champ-detail .ability .ability-video__item {
  overflow: hidden;
  position: relative;
}
.lol .lol-inner__champ-detail .ability .ability-video__item:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 14px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 3;
}
.lol .lol-inner__champ-detail .ability .ability-video__item video, .lol .lol-inner__champ-detail .ability .ability-video__item img {
  width: 100%;
}
.lol .lol-inner__champ-detail .champ-skin {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  margin: 65px 0 100px;
}
.lol .lol-inner__champ-detail .champ-skin__title {
  width: 100%;
  font-family: "Playball", cursive;
  font-size: 36px;
  margin-bottom: 30px;
  text-shadow: 0px 0px 5px #000, 0px 0px 10px #000, 0px 0px 15px #000, 0px 0px 20px #000, 0px 0px 25px #000;
}
.lol .lol-inner__champ-detail .champ-skin .champ-skin-inner {
  max-width: 1005px;
  width: calc(65% - 25px);
  margin-right: 25px;
}
.lol .lol-inner__champ-detail .champ-skin .champ-skin-inner__item {
  width: 100%;
  position: relative;
}
.lol .lol-inner__champ-detail .champ-skin .champ-skin-inner__item:before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0) 50%);
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.lol .lol-inner__champ-detail .champ-skin .champ-skin-inner__item:after {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 3;
}
.lol .lol-inner__champ-detail .champ-skin .champ-skin-inner__item img {
  width: 100%;
}
.lol .lol-inner__champ-detail .champ-skin .champ-skin-inner__item p {
  width: 100%;
  position: absolute;
  bottom: 25px;
  text-align: justify;
  text-align-last: center;
  font-family: "Playball", cursive;
  font-size: 28px;
  text-shadow: 0px 0px 5px #000, 0px 0px 10px #000, 0px 0px 15px #000, 0px 0px 20px #000, 0px 0px 25px #000;
  z-index: 3;
}
.lol .lol-inner__champ-detail .champ-skin .champ-skin-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 35%;
  max-width: 500px;
}
.lol .lol-inner__champ-detail .champ-skin .champ-skin-list__item {
  width: calc(33.3333333333% - 15px);
  overflow: hidden;
  cursor: pointer;
  padding: 7px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
.lol .lol-inner__champ-detail .champ-skin .champ-skin-list__item img {
  width: 100%;
  border: 1px solid #fff;
}
.lol .lol-inner__champ-detail .champ-skin .champ-skin-list__item:hover, .lol .lol-inner__champ-detail .champ-skin .champ-skin-list__item.active {
  box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.7), 0px -3px 5px rgba(255, 255, 255, 0.7), 3px 0px 5px rgba(255, 255, 255, 0.7), -3px 0px 5px rgba(255, 255, 255, 0.7);
}
.lol .lol-inner__champ-detail .champ-skin .champ-skin-list .size01 {
  width: calc(50% - 10px);
}
.lol .lol-inner__skin {
  margin-bottom: 80px;
}
.lol .lol-inner__skin .skin-title {
  text-align: justify;
  text-align-last: center;
  font-family: "Playball", cursive;
  font-size: 48px;
  color: #fff;
  text-shadow: 0px 0px 5px #000, 0px 0px 10px #000, 0px 0px 15px #000, 0px 0px 20px #000, 0px 0px 25px #000;
  margin-bottom: 50px;
  position: relative;
}
.lol .lol-inner__skin .skin-title:before {
  content: "➢";
  font-size: 48px;
  position: absolute;
  top: -4px;
  left: 375px;
}
.lol .lol-inner__skin .skin-title:after {
  content: "➣";
  font-size: 48px;
  position: absolute;
  top: -4px;
  right: 375px;
  transform: scaleX(-1);
}
.lol .lol-inner__skin .skin-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: calc(100% + 20px);
  margin: 0 -10px;
}
.lol .lol-inner__skin .skin-list .skin-item {
  margin: 0 10px 20px;
  width: calc(20% - 20px);
  cursor: pointer;
}
.lol .lol-inner__skin .skin-list .skin-item__inner {
  position: relative;
  padding: 7px;
  transition: all 0.3s ease;
}
.lol .lol-inner__skin .skin-list .skin-item__inner:before {
  content: "";
  width: calc(100% - 18px);
  height: calc(100% - 18px);
  background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0) 50%);
  background-size: contain;
  position: absolute;
  top: 9px;
  left: 9px;
  z-index: 1;
}
.lol .lol-inner__skin .skin-list .skin-item__inner img {
  width: 100%;
  border: 1px solid #fff;
}
.lol .lol-inner__skin .skin-list .skin-item__inner .skin-text {
  font-family: "Playball", cursive;
  font-size: 20px;
  letter-spacing: 1px;
  width: calc(100% - 14px);
  text-align: justify;
  text-align-last: center;
  text-transform: capitalize;
  position: absolute;
  bottom: 10px;
  color: #fff;
  line-height: 24px;
  transition: all 0.3s ease;
  z-index: 3;
}
.lol .lol-inner__skin .skin-list .skin-item__inner:hover, .lol .lol-inner__skin .skin-list .skin-item__inner.active {
  box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.7), 0px -3px 5px rgba(255, 255, 255, 0.7), 3px 0px 5px rgba(255, 255, 255, 0.7), -3px 0px 5px rgba(255, 255, 255, 0.7);
}
.lol .lol-inner__skin .skin-list .skin-item__inner:hover .skin-text, .lol .lol-inner__skin .skin-list .skin-item__inner.active .skin-text {
  text-shadow: 0px 0px 5px #000, 0px 0px 10px #000, 0px 0px 15px #000, 0px 0px 20px #000, 0px 0px 25px #000;
}
.lol .lol-inner__skin-detail {
  margin-bottom: 90px;
}
.lol .lol-inner__skin-detail .intro__name {
  margin-bottom: 10px;
  font-family: "Playball", cursive;
  font-size: 48px;
  letter-spacing: 1px;
  text-align: justify;
  text-align-last: center;
  text-shadow: 0px 0px 5px #000, 0px 0px 10px #000, 0px 0px 15px #000, 0px 0px 20px #000, 0px 0px 25px #000;
  color: #fff;
}
.lol .lol-inner__skin-detail .intro__about {
  padding: 25px 0 55px;
  margin: 0 auto;
  max-width: 960px;
  width: 80%;
  color: #fff;
  text-align: justify;
  text-align-last: center;
  line-height: 1.75;
}
.lol .lol-inner__skin-detail .skin-group {
  display: flex;
  justify-content: center;
  width: calc(100% + 20px);
  margin: 0 -10px 26px;
}
.lol .lol-inner__skin-detail .skin-group__tab {
  position: relative;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-family: "Playball", cursive;
  font-size: 24px;
  padding: 15px 40px;
  margin: 0 10px;
  color: #fff;
  transition: all 0.3s ease;
}
.lol .lol-inner__skin-detail .skin-group__tab:before {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  border: 1px solid #fff;
}
.lol .lol-inner__skin-detail .skin-group__tab:hover, .lol .lol-inner__skin-detail .skin-group__tab.active {
  text-shadow: 0px 0px 5px #000, 0px 0px 10px #000, 0px 0px 15px #000, 0px 0px 20px #000, 0px 0px 25px #000;
  box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.7), 0px -3px 5px rgba(255, 255, 255, 0.7), 3px 0px 5px rgba(255, 255, 255, 0.7), -3px 0px 5px rgba(255, 255, 255, 0.7);
}
.lol .lol-inner__skin-detail .skin-detail {
  position: relative;
}
.lol .lol-inner__skin-detail .skin-detail__left, .lol .lol-inner__skin-detail .skin-detail__right {
  position: absolute;
  width: 20%;
  max-width: 220px;
}
.lol .lol-inner__skin-detail .skin-detail__left img, .lol .lol-inner__skin-detail .skin-detail__right img {
  width: 100%;
}
.lol .lol-inner__skin-detail .skin-detail__left {
  left: 0;
}
.lol .lol-inner__skin-detail .skin-detail__right {
  right: 0;
}
.lol .lol-inner__skin-detail .skin-detail__box {
  display: none;
}
.lol .lol-inner__skin-detail .skin-detail__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: calc(100% + 20px);
  margin: 0 -10px;
}
.lol .lol-inner__skin-detail .skin-detail__list--item {
  margin: 0 10px;
  width: calc(12.5% - 20px);
  cursor: pointer;
  position: relative;
  padding: 7px;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}
.lol .lol-inner__skin-detail .skin-detail__list--item img {
  width: 100%;
  border: 1px solid #fff;
}
.lol .lol-inner__skin-detail .skin-detail__list--item:hover, .lol .lol-inner__skin-detail .skin-detail__list--item.active {
  box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.7), 0px -3px 5px rgba(255, 255, 255, 0.7), 3px 0px 5px rgba(255, 255, 255, 0.7), -3px 0px 5px rgba(255, 255, 255, 0.7);
}
.lol .lol-inner__skin-detail .skin-detail__inner {
  position: relative;
}
.lol .lol-inner__skin-detail .skin-detail__inner--item {
  max-width: 750px;
  margin: 13px auto 0;
}
.lol .lol-inner__skin-detail .skin-detail__inner--img {
  position: relative;
}
.lol .lol-inner__skin-detail .skin-detail__inner--img:before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 3;
}
.lol .lol-inner__skin-detail .skin-detail__inner--img img {
  width: 100%;
}
.lol .lol-inner__skin-detail .skin-detail__inner--text {
  color: #fff;
  text-align: justify;
  text-align-last: center;
}
.lol .lol-inner__skin-detail .skin-detail__inner--text p {
  font-family: "Playball", cursive;
  font-size: 32px;
  color: #000;
  padding: 25px 0 10px;
}
.lol .lol-inner__skin-detail .skin-detail__inner--text span {
  line-height: 1.75;
}
.lol .lol-inner__footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30px;
  margin: 0 0 100px;
  position: relative;
}
.lol .lol-inner__footer:before {
  content: "";
  width: 75%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 0;
  z-index: 3;
}
.lol .lol-inner__footer .logo {
  height: 30px;
  margin: 50px 25px 0;
}
.lol .lol-inner__footer .logo img {
  height: 100%;
  margin: 0 15px;
}
.lol .lol-inner__footer .social {
  margin: 50px 25px 0;
  height: 30px;
}
.lol .lol-inner__footer .social img {
  height: 100%;
  margin: 0 15px;
  transition: all 0.3s ease-in-out;
}
.lol .lol-inner__footer .social img:hover {
  -webkit-filter: drop-shadow(0px 0px 3px #000) drop-shadow(0px 0px 7px #000);
  filter: drop-shadow(0px 0px 3 px #000) drop-shadow(0px 0px 7px #000);
}

.reg-detail-bg {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}
.reg-detail-bg video {
  height: 100%;
  z-index: 1;
}
.reg-detail-bg:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  transition: all 0.3s ease;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
#date {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0;
}

.date {
  padding: 0;
  left: 0;
  top: 0;
}
@media screen and (max-width: 1200px) {
  .date {
    left: 50px;
    top: 50px;
  }
}
@media screen and (max-width: 640px) {
  .date {
    bottom: 0;
    left: 0;
    padding: 20px;
    right: 0;
    top: 0;
  }
}
.date__bg {
  background: url(../../assets/images/wedding/bg.jpg) no-repeat top center;
  background-size: auto 100%;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  height: 720px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 1080px;
}
@media screen and (max-width: 1200px) {
  .date__bg {
    height: calc(100vh - 100px);
    margin: 0;
    top: 0;
    transform: translate(0, 0);
    width: calc(100vw - 100px);
  }
}
@media screen and (max-width: 640px) {
  .date__bg {
    height: calc(100vh - 40px);
    width: calc(100vw - 40px);
  }
}
.date__title {
  left: 25px;
  position: absolute;
  transform: scale(0.6);
  transform-origin: 0 0;
  top: 25px;
}
@media screen and (max-width: 640px) {
  .date__title {
    left: 20px;
    transform: scale(0.5);
    top: 20px;
    z-index: 10;
  }
}
.date__title img {
  width: 100%;
}
.date__card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  bottom: 30px;
  left: 25px;
  position: absolute;
}
@media screen and (max-width: 640px) {
  .date__card {
    bottom: 120px;
    left: 0;
    width: 100%;
  }
}
.date__img01 {
  margin: 15px 0 20px;
  text-align: center;
  width: 450px;
}
.date__img01 img {
  width: 100%;
}
@media screen and (max-width: 640px) {
  .date__img01 {
    margin: 5px 0 10px;
    width: 100%;
  }
  .date__img01 img {
    width: 80%;
  }
}
.date__txt01 {
  color: #fff;
  font-size: 39.5px;
  letter-spacing: 2px;
}
@media screen and (max-width: 640px) {
  .date__txt01 {
    font-size: 24px;
    text-align: center;
  }
}
.date__txt02 {
  color: #fff;
  font-size: 48px;
  text-transform: uppercase;
}
@media screen and (max-width: 640px) {
  .date__txt02 {
    font-size: 28px;
    text-align: center;
  }
}
.date__wallet {
  bottom: 25px;
  position: absolute;
  right: 25px;
  transform: scale(0.5);
  transform-origin: 100% 100%;
}
@media screen and (max-width: 640px) {
  .date__wallet {
    bottom: 20px;
    right: 0;
    text-align: center;
    transform: scale(1);
    width: 100%;
  }
  .date__wallet img {
    width: 25%;
  }
}