.video {
    &__item {
            left: 50%;
            height: calc(100vh - 285px);
            padding: 30px;
            position: absolute;
            top: 0;
            transform: translateX(-50%);
    }
    &__box {
        background-color: $color4;
        border-radius: 10px;
        box-shadow: inset 4px 4px 4px rgba($color: $color3, $alpha: 0.25),
            inset -4px -4px 4px rgba($color: $color1, $alpha: 0.75);
        padding: 15px;
        text-align: center;
        
    }
    &__cont {
        border-radius: 10px;
        height: calc(100vh - 375px);
        overflow-y: auto;
        @include max(1600px) {
			height: calc(100vh - 275px);
		}
        &::-webkit-scrollbar {
            width: 0;
        }
        video {
            border-radius: 10px;
            height: 100%;
        }
    }
}